@media (max-width: 1440px)
	.job_in_docvet_img
		transform: scale(50%)
@media (max-width: 768px)
	.blue_line
		max-width: 100%
		margin-bottom: 27px
	.orange_line
		max-width: 100%
	.container
		width: 67%
		margin: 0 auto
		&_nav_metro
			width: 61%
			button
				width: 64px
				height: 56px
				font-size: 1px
				background-color: #FFA14D
				color: #FFA14D
				img
					margin: 0 auto
					margin-top: 15px
					margin-left: 7px	
					transform: scale(130%)
	.card
		display: block
	header
		margin-bottom: 42px
	nav
		height: 56px
	.subheader
		display: flex
		justify-content: space-between

	.subheader_menu
		display: none
	.menu_small
		display: flex
		flex-direction: row
		flex-wrap: wrap
		width: 64px
		height: 10px
		margin-top: 22px
		.line	
			height: 4px
			width: 64px
			margin-top: 4px
			background-color: #1B274A
			border-radius: 2px
		.line:nth-child(2)
			width: 50px
		.line:nth-child(3)
			width: 40px
	.nav_metro,.nav_clock,.nav_number
		display: none
	.job_in_docvet
		&_img
			display: none
		&_list
			li
				max-width: 384px
	.card_main_img
		display: none
	.card_main
		.form_wrapper
			margin-left: 0
			margin-top: 0
	.display_none_mid
		display: none
	.display_mid
		display: block
	.social
		justify-content: space-between
		padding-left: 0
		padding-right: 0
		margin-bottom: 30px
	.orange_line
		margin-bottom: 48px
	.form_wrapper
		margin-left: 0
		margin-top: 0
	.map
		padding-top: 0
		padding-left: 0
		background: none
		height: 536px
		&_mid_display
			width: 100%
			height: 770px
			background:  url('../img/map_mid.png') center center / cover no-repeat
	.stpts
		max-width: 100%
		margin: 0 auto
		padding-top: 0
		padding-left: 0
		&_subheader
			font-size: 24px
	.vacancies
		.header
			margin-bottom: 48px
		&_menu
			&_item
				.sub_item
					top: 37px
					right: 24px
				.text
					font-size: 22px
					margin-left: 24px
					max-width: 64%
		
	.choose
		.container
			.card
				&_img
					display: block
					margin: 0
					transform: scale(50%)
	footer
		background: none
		background-color: #1B274A
	.card
		margin-bottom: 0
	#first_card
		img
		.card_text
			margin-top: 32px
	#second_card
		img
		.card_text
			margin-top: 32px
	#third_card
		img
		.card_text
			margin-top: 100px
	.choose
		padding-bottom: 72px
	.header
		margin-bottom: 48px
	.menu_active
		button
			margin-left: 0
		.list_header
			margin-left: 0
		.menu_list
			margin-left: 0
		.descr
			margin-left: 0
		.job_in_docvet_list
			margin-left: 0
@media (max-width: 320px)
	.container
		width: 80%
		&_nav_metro
			width: 80%
	.map_mid_display
		display: none
	.map_small_display
		display: block
		width: 100%
		height: 320px	
		background: url('../img/map_small.png') center center / cover no-repeat
	.job_in_docvet
		.header
			font-size: 24px
			margin-bottom: 24px
		&_subheader
			font-size: 18px
			margin-bottom: 24px
		&_list
			li
				font-size: 14px