@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto-Light", sans-serif;
}

nav {
  background-color: #1B274A;
  height: 50px;
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 250px;
}

.container {
  width: 1170px;
  margin-left: 250px;
}

header {
  width: 100%;
}

.nav_metro, .nav_number, .around_clock {
  line-height: 50px;
  font-size: 16px;
}

.nav_metro {
  text-decoration: none;
}

.center_y {
  margin-top: 25%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.signup {
  background-color: #FF7800;
  font-size: 18px;
  width: 208px;
  color: white;
  line-height: 21px;
  padding-top: 3px;
}

.subheader {
  padding-left: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.subheader_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 305px;
  font-size: 18px;
  margin-top: 30px;
  margin-left: 35%;
}

.subheader_docvet {
  margin-top: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  line-height: 11px;
}
.subheader_docvet .logo_img {
  margin-right: 12px;
}
.subheader_docvet_text span {
  font-size: 28px;
  line-height: 33px;
}

.header {
  font-size: 48px;
  color: #1B274A;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.job_in_docvet {
  color: #1B274A;
}
.job_in_docvet_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 160px;
}
.job_in_docvet_img {
  margin-left: 50px;
  margin-top: 103px;
}
.job_in_docvet .header {
  margin-bottom: 48px;
}
.job_in_docvet_subheader {
  font-size: 22px;
  font-weight: 500;
  max-width: 550px;
  margin-bottom: 32px;
  font-weight: 600;
}
.job_in_docvet .p {
  font-size: 22px;
  max-width: 568px;
}
.job_in_docvet_list {
  margin-left: 40px;
}
.job_in_docvet_list li {
  font-size: 22px;
  margin-bottom: 32px;
  max-width: 500px;
  list-style-type: none;
}
.job_in_docvet_list li::before {
  content: "•";
  color: #FF7800;
}
.job_in_docvet_list li span {
  font-weight: 600;
}

.orange_line {
  width: 1170px;
  height: 1px;
  background-color: #FF7800;
  margin-bottom: 96px;
  margin-left: 0 auto;
}

.blue_line {
  width: 1170px;
  height: 1px;
  background-color: #3897F0;
  margin-left: 0 auto;
  margin-top: 22px;
  margin-bottom: 56px;
}

.vacancies .header {
  margin-bottom: 72px;
}

.vacancies_menu_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.vacancies_menu_item::after {
  content: "";
}
.vacancies_menu_item .text {
  margin-left: 62px;
  font-size: 32px;
  color: #3897F0;
  line-height: 50px;
}
.vacancies_menu_item .sub_item {
  color: #3897F0;
  font-size: 14px;
  line-height: 43px;
  position: absolute;
  right: 200px;
}

.menu_active {
  display: block;
  padding-bottom: 70px;
}
.menu_active .text {
  margin-left: 70px;
  margin-bottom: 32px;
}
.menu_active .job_in_docvet_list {
  margin-left: 90px;
}
.menu_active .job_in_docvet_list li {
  min-width: 972px;
}
.menu_active .descr {
  margin-left: 70px;
  font-size: 22px;
  margin-bottom: 48px;
  max-width: 1000px;
}
.menu_active .list_header {
  margin-left: 70px;
  font-size: 32px;
  margin-bottom: 32px;
}
.menu_active .menu_list {
  margin-left: 90px;
  margin-bottom: 48px;
  padding-left: 30px;
}
.menu_active .menu_list li {
  font-size: 22px;
}

.button {
  width: 185px;
  height: 64px;
  background-color: #FF7800;
  font-size: 18px;
  color: white;
  border: none;
  margin-left: 70px;
  border-radius: 3%;
}

.choose_header {
  margin-bottom: 48px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 120px;
}
.card_img {
  display: block;
}
.card_text {
  font-size: 22px;
  max-width: 500px;
}
.card_header {
  font-size: 32px;
  margin-bottom: 32px;
}

#first_card img {
  margin-right: 100px;
}
#first_card .card_text {
  margin-top: 200px;
}

#second_card img {
  margin-left: 100px;
}
#second_card .card_text {
  margin-top: 200px;
}

#third_card img {
  margin-right: 100px;
}
#third_card .card_text {
  margin-top: 100px;
}

.card_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card_main_img {
  text-align: center;
}
.card_main_img .card_main_header {
  font-size: 22px;
  margin-top: 24px;
}
.card_main_img .card_main_subheader {
  font-size: 16px;
  margin-top: 18px;
}
.card_main .form_wrapper {
  margin-left: 215px;
}

.map {
  width: 100%;
  height: 702px;
  background: url("../img/map.png");
  padding-left: 275px;
  padding-top: 48px;
}

.stpts {
  background-color: #fff;
  height: 606px;
  width: 780px;
  padding-top: 64px;
  padding-left: 100px;
}
.stpts a {
  display: block;
  margin-top: 68px;
  font-size: 22px;
}
.stpts .bus {
  margin-top: 52px;
  margin-bottom: 52px;
}
.stpts_subheader {
  font-size: 32px;
  margin-bottom: 32px;
}
.stpts_text {
  font-size: 22px;
}
.stpts_text_small {
  font-size: 16px;
  color: #6D758B;
  margin-top: 18px;
}

/*# sourceMappingURL=main.css.map */