@media (max-width: 1440px) {
  .job_in_docvet_img img {
    width: 250px;
  }

  #big_plus {
    display: none;
  }
}
@media (max-width: 768px) {
  .how_get {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .blue_line {
    max-width: 100%;
    margin-bottom: 27px;
  }

  .orange_line {
    width: 100%;
  }

  .container {
    width: 67%;
    margin: 0 auto;
  }
  .container_nav_metro {
    width: 67%;
  }
  .container_nav_metro button {
    width: 64px !important;
    height: 56px;
    font-size: 1px;
    background-color: #FFA14D;
    color: #FFA14D;
  }
  .container_nav_metro button img {
    margin: 0 auto;
    margin-top: 15px;
    margin-left: 7px;
    -webkit-transform: scale(130%);
            transform: scale(130%);
  }

  .card {
    display: block;
  }

  header {
    margin-bottom: 42px;
  }

  nav {
    height: 56px;
  }

  .subheader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .subheader_menu {
    display: none;
  }

  .menu_small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 64px;
    height: 10px;
    margin-top: 22px;
  }
  .menu_small .line {
    height: 4px;
    width: 64px;
    margin-top: 4px;
    background-color: #1B274A;
    border-radius: 2px;
  }
  .menu_small .line:nth-child(2) {
    width: 50px;
  }
  .menu_small .line:nth-child(3) {
    width: 40px;
  }

  .nav_metro, .nav_clock, .nav_number {
    display: none;
  }

  .job_in_docvet_img {
    display: none;
  }
  .job_in_docvet_list li {
    max-width: 384px;
  }

  .card_main_img {
    display: none;
  }

  .card_main .form_wrapper {
    margin-left: 0;
    margin-top: 0;
    max-width: 100%;
  }

  .display_none_mid {
    display: none;
  }

  .display_mid {
    display: block;
  }

  .social {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
  }

  .orange_line {
    margin-bottom: 48px;
  }

  .form_wrapper {
    margin-left: 0;
    margin-top: 0;
  }

  .map {
    padding-top: 0;
    padding-left: 0;
    background: none;
    height: 570px;
  }
  .map_mid_display {
    width: 100%;
    height: 770px;
    background: url("../img/map_mid.png") center center/cover no-repeat;
  }

  .stpts {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 0;
    padding-left: 0;
  }
  .stpts_subheader {
    font-size: 24px;
  }

  .vacancies .header {
    margin-bottom: 48px;
  }
  .vacancies_menu_item .sub_item {
    top: 37px;
    right: 24px;
  }
  .vacancies_menu_item .text {
    font-size: 22px;
    margin-left: 24px;
    max-width: 64%;
  }

  .choose .container .card_img {
    display: block;
    margin: 0;
    -webkit-transform: scale(50%);
            transform: scale(50%);
  }

  footer {
    background: none;
    background-color: #1B274A;
  }

  .card {
    margin-bottom: 0;
  }

  #first_card .card_text {
    margin-top: 32px;
  }

  #second_card .card_text {
    margin-top: 32px;
  }

  #third_card .card_text {
    margin-top: 100px;
  }

  .choose {
    padding-bottom: 72px;
  }

  .header {
    margin-bottom: 48px;
  }

  .menu_active button {
    margin-left: 0;
  }
  .menu_active .list_header {
    margin-left: 0;
  }
  .menu_active .menu_list {
    margin-left: 0;
  }
  .menu_active .descr {
    margin-left: 0;
  }
  .menu_active .job_in_docvet_list {
    margin-left: 0;
  }
}
@media (max-width: 576px) {
  .small_footer {
    display: block !important;
  }

  footer {
    height: 870px;
    padding-top: 48px;
    padding-bottom: 48px;
  }

  .container {
    width: 80%;
  }
  .container_nav_metro {
    width: 80%;
  }

  .map_mid_display {
    display: none;
  }

  .map_small_display {
    display: block;
    width: 100%;
    height: 320px;
    background: url("../img/map_small.png") center center/cover no-repeat;
  }

  .job_in_docvet_container {
    padding-bottom: 32px;
  }
  .job_in_docvet .header {
    margin-bottom: 24px;
  }
  .job_in_docvet_subheader {
    margin-bottom: 24px;
  }
  .job_in_docvet_list li {
    line-height: 20px;
    margin-bottom: 14px;
  }

  .vacancies_menu_item .text {
    line-height: 20px;
  }

  .blue_line {
    margin-bottom: 14px;
  }

  .menu_active {
    padding-bottom: 32px;
  }
  .menu_active .text {
    line-height: 20px;
  }
  .menu_active .descr {
    margin-bottom: 24px;
  }
  .menu_active .list_header {
    margin-bottom: 18px;
  }
  .menu_active .menu_list {
    margin-bottom: 24px;
  }
  .menu_active .button {
    width: 185px;
  }

  .sub_item {
    display: none;
  }
  .sub_item_small {
    display: block;
  }

  .social {
    margin: 0 auto;
  }

  .map {
    height: 570px;
  }

  .stpts a {
    display: block;
    margin: 0;
  }
  .stpts .bus {
    margin-bottom: 0;
    margin-top: 0;
  }
  .stpts .orange_line {
    display: block;
    width: 100%;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .stpts .metro_icon {
    margin-right: 8px;
  }
  .stpts_text {
    margin-top: 24px;
  }

  .docvet_visit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .docvet_visit img {
    display: block;
  }
  .docvet_visit_header {
    margin-left: 9px;
    margin-top: 14px;
    line-height: 13px;
  }

  .small_menu {
    margin-top: 25px;
  }
  .small_menu_header {
    margin-bottom: 24px;
  }
  .small_menu_header img {
    margin-left: 5px;
    margin-bottom: 3px;
  }
  .small_menu_list {
    list-style-type: none;
  }
  .small_menu_list li a {
    color: white;
    line-height: 21px;
  }

  .choose .container .card_img {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }

  .card_main .form_wrapper button {
    width: 185px;
  }
  .card_main .form_wrapper .checkbox {
    margin-top: 16px;
  }
  .card_main .form_wrapper p {
    margin-left: 36px;
    margin-top: 16px;
  }

  .grey_line {
    max-width: 100%;
  }

  #footer_metro {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }

  .small_footer_social {
    -webkit-transform: translateX(-24px);
            transform: translateX(-24px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .small_footer_social img {
    display: block;
    margin-left: 24px;
  }

  .nmb {
    margin-bottom: 0;
  }

  .grey_text {
    margin-top: 32px;
  }
  .grey_text a {
    display: block;
    margin-bottom: 4px;
    opacity: 0.5;
  }
  .grey_text .copyright {
    margin-top: 18px;
  }
}
@media(max-width: 420px) {
  button {
    width: 100% !important;
  }

  .stpts .orange_line {
    width: 30%;
  }
}
@media(max-width: 1024px) {
  .stpts {
    display: none;
  }

  .nav_metro {
    display: none;
  }

  .nav_clock {
    display: none;
  }

  .choose {
    display: none;
  }

  .signup {
    width: 175px;
  }

  .social {
    padding-left: 0;
    padding-right: 0;
  }
}
@media(max-width: 1790px) {
  .sub_item {
    display: none;
  }

  .job_in_docvet_container {
    padding-bottom: 60px;
  }
}
@media (min-width: 900px) {
  .nav_clock {
    display: block;
  }
}
@media (max-width: 1280px) {
  footer {
    background: none;
    background-color: #1B274A;
  }
}

/*# sourceMappingURL=media.css.map */