@charset "UTF-8";
.yellow {
  color: #FFA14D !important;
}

.white {
  color: white !important;
}

.cream {
  color: #FFE8D4 !important;
}

.blue {
  color: #1B274A !important;
}

.orange {
  color: #FF7800 !important;
}

.grey {
  color: #C2C2C2 !important;
}

.black {
  color: black !important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto-Light", sans-serif;
  text-decoration: none;
}

nav {
  background-color: #1B274A;
  height: 50px;
  margin: 0 auto;
  width: 100%;
}

.container {
  width: 61%;
  margin: 0 auto;
}

header {
  width: 100%;
  margin-bottom: 75px;
}

.container_nav_metro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 61%;
  margin: 0 auto;
}
.container_nav_metro img {
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
  margin-right: 8px;
}
.container_nav_metro .nav_metro, .container_nav_metro .nav_number, .container_nav_metro .around_clock {
  line-height: 50px;
  font-size: 16px;
}

.nav_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.line_y {
  height: 20px;
  width: 1px;
  background-color: #fff;
  margin-left: 8px;
  margin-right: 8px;
  -webkit-transform: translateY(69%);
          transform: translateY(69%);
}

.signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FF7800;
  font-size: 18px;
  width: 208px;
  line-height: 50px;
  color: white;
  border: none;
}

.clock {
  margin: 0 auto;
}
.clock img {
  -webkit-transform: translateY(23%);
          transform: translateY(23%);
  margin-right: 5px;
}

.subheader {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.subheader_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  right: 5vw;
  width: 305px;
  font-size: 18px;
  margin-top: 30px;
}
.subheader_menu a {
  text-decoration: none;
}

.subheader_docvet {
  margin-top: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  line-height: 11px;
}
.subheader_docvet .menu_small {
  display: none;
}
.subheader_docvet .vetcenter {
  font-size: 10px;
}
.subheader_docvet .logo_img {
  margin-right: 12px;
  -webkit-transform: translateY(-13%);
          transform: translateY(-13%);
}
.subheader_docvet_text span {
  font-size: 28px;
  line-height: 33px;
  font-weight: bold;
}

.header {
  font-size: 48px;
  color: #1B274A;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

#home {
  margin-left: 12px;
}

#path89 {
  margin-left: 8px;
  margin-right: 14px;
}

.job_in_docvet {
  color: #1B274A;
}
.job_in_docvet_menu {
  width: 100%;
  margin-bottom: 64px;
}
.job_in_docvet_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 160px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.job_in_docvet_img {
  margin-top: 103px;
  width: 500px;
  height: 388px;
}
.job_in_docvet .header {
  margin-bottom: 48px;
}
.job_in_docvet_subheader {
  font-size: 22px;
  font-weight: 500;
  max-width: 550px;
  margin-bottom: 32px;
  font-weight: 600;
}
.job_in_docvet .p {
  font-size: 22px;
  max-width: 568px;
}
.job_in_docvet_list li {
  display: block;
  font-size: 22px;
  margin-bottom: 32px;
  max-width: 500px;
  list-style-type: none;
}
.job_in_docvet_list li::before {
  content: "•";
  color: #FF7800;
  -webkit-transform: scale(130%);
          transform: scale(130%);
  margin-right: 20px;
}
.job_in_docvet_list li span {
  font-weight: 600;
}

#big_plus {
  position: absolute;
  -webkit-transform: translate(-60%, 300px);
          transform: translate(-60%, 300px);
}

#main_page {
  opacity: 0.5;
}

.orange_line {
  max-width: 100%;
  height: 1px;
  background-color: #FF7800;
  margin: 0 auto;
  margin-bottom: 96px;
}

.blue_line {
  width: 1170px;
  height: 1px;
  background-color: #3897F0;
  margin: 0 auto;
  margin-top: 22px;
  margin-bottom: 56px;
}

.vacancies .header {
  margin-bottom: 72px;
}

.sub_item_small {
  color: #3897F0;
  font-size: 14px;
  line-height: 50px;
  position: absolute;
  right: 30px;
  display: none;
}

.vacancies_menu_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.vacancies_menu_item::after {
  content: "";
}
.vacancies_menu_item .text {
  margin-left: 62px;
  font-size: 32px;
  color: #3897F0;
  line-height: 50px;
}
.vacancies_menu_item .sub_item {
  color: #3897F0;
  font-size: 14px;
  line-height: 50px;
  position: absolute;
  right: 80px;
}
.vacancies_menu_item .sub_item img {
  margin-left: 18px;
}

#small_up {
  margin-bottom: 3px;
}

.arrow_up {
  position: absolute;
  right: 80px;
}

.menu_active {
  display: block;
  padding-bottom: 70px;
}
.menu_active button {
  margin-left: 70px;
}
.menu_active .text {
  margin-bottom: 32px;
}
.menu_active .job_in_docvet_list {
  margin-left: 90px;
}
.menu_active .job_in_docvet_list li {
  max-width: 972px;
}
.menu_active .descr {
  margin-left: 70px;
  font-size: 22px;
  margin-bottom: 48px;
  max-width: 1000px;
}
.menu_active .list_header {
  margin-left: 70px;
  font-size: 32px;
  margin-bottom: 32px;
}
.menu_active .menu_list {
  margin-left: 90px;
  margin-bottom: 48px;
  padding-left: 30px;
}
.menu_active .menu_list li {
  font-size: 22px;
}

.button {
  width: 185px;
  height: 64px;
  background-color: #FF7800;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 3%;
}

.choose {
  padding-bottom: 144px;
}
.choose_header {
  margin-bottom: 48px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 120px;
}
.card_img {
  display: block;
}
.card_text {
  font-size: 22px;
  max-width: 500px;
}
.card_header {
  font-size: 32px;
  margin-bottom: 32px;
}

#first_card .card_text {
  margin-top: 200px;
}

#second_card .card_text {
  margin-top: 200px;
}

#third_card .card_text {
  margin-top: 100px;
}

.iaccept {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.iaccept .checkbox {
  margin-top: 58px;
}

#check {
  position: absolute;
  -webkit-transform: translate(4px, 6px);
          transform: translate(4px, 6px);
}

#box {
  position: absolute;
}

.card_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card_main .icon {
  position: absolute;
  -webkit-transform: translate(-50%, 580px);
          transform: translate(-50%, 580px);
}
.card_main_img {
  text-align: center;
}
.card_main_img .card_main_header {
  font-size: 22px;
  margin-top: 24px;
}
.card_main_img .card_main_subheader {
  font-size: 16px;
  margin-top: 18px;
}
.card_main .form_wrapper {
  margin-left: 215px;
  margin-top: 104px;
}
.card_main .form_wrapper p {
  display: block;
  text-align: left;
  margin-top: 58px;
  font-size: 12px;
  margin-left: 48px;
}
.card_main .form_wrapper button {
  margin-top: 32px;
}
.card_main .form_wrapper input {
  margin-right: 24px;
  border: none;
  outline: none;
}
.card_main .form_wrapper .pizda {
  margin-top: 20px;
}
.card_main .form_wrapper .pizda input {
  margin-top: 18px;
}
.card_main .form_wrapper_header {
  font-size: 22px;
  font-weight: bold;
}
.card_main .form_wrapper_subheader {
  font-size: 16px;
  margin-top: 32px;
}

.grey_line {
  display: block;
  width: 470px;
  background-color: #6D758B;
  height: 1px;
  margin-top: 15px;
}

.comment {
  margin-top: 24px;
  max-width: 450px;
}
.comment span {
  font-weight: bold;
}

.map {
  width: 100%;
  height: 702px;
  background: url("../img/map.png") left top/cover no-repeat;
  background-position: left top;
  padding-top: 48px;
}

.stpts {
  background-color: #fff;
  height: 606px;
  width: 780px;
  padding-top: 64px;
  padding-left: 100px;
}
.stpts .metro_icon {
  margin-right: 18px;
}
.stpts a {
  display: block;
  margin-top: 68px;
  font-size: 22px;
}
.stpts .bus {
  margin-top: 52px;
  margin-bottom: 52px;
}
.stpts_subheader {
  font-size: 32px;
  margin-bottom: 32px;
  font-weight: bold;
}
.stpts_text {
  font-size: 22px;
  font-weight: bold;
}
.stpts_text_small {
  font-size: 16px;
  color: #6D758B;
  margin-top: 18px;
}

.arrow_right {
  margin-left: 18px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  height: 96px;
  background-color: white;
  font-size: 22px;
  line-height: 96px;
}
.social_icon {
  margin-right: 24px;
  -webkit-transform: translateY(33%);
          transform: translateY(33%);
}

.display_none_big {
  display: none;
}

footer {
  max-width: 100%;
  height: 415px;
  background: url("../img/footer.png") center center/cover no-repeat;
}

@media (max-width: 1440px) {
  .job_in_docvet_img {
    -webkit-transform: scale(50%);
            transform: scale(50%);
  }
}
@media (max-width: 768px) {
  .blue_line {
    max-width: 100%;
    margin-bottom: 27px;
  }

  .orange_line {
    max-width: 100%;
  }

  .container {
    width: 67%;
    margin: 0 auto;
  }
  .container_nav_metro {
    width: 61%;
  }
  .container_nav_metro button {
    width: 64px;
    height: 56px;
    font-size: 1px;
    background-color: #FFA14D;
    color: #FFA14D;
  }
  .container_nav_metro button img {
    margin: 0 auto;
    margin-top: 15px;
    margin-left: 7px;
    -webkit-transform: scale(130%);
            transform: scale(130%);
  }

  .card {
    display: block;
  }

  header {
    margin-bottom: 42px;
  }

  nav {
    height: 56px;
  }

  .subheader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .subheader_menu {
    display: none;
  }

  .menu_small {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 64px;
    height: 10px;
    margin-top: 22px;
  }
  .menu_small .line {
    height: 4px;
    width: 64px;
    margin-top: 4px;
    background-color: #1B274A;
    border-radius: 2px;
  }
  .menu_small .line:nth-child(2) {
    width: 50px;
  }
  .menu_small .line:nth-child(3) {
    width: 40px;
  }

  .nav_metro, .nav_clock, .nav_number {
    display: none;
  }

  .job_in_docvet_img {
    display: none;
  }
  .job_in_docvet_list li {
    max-width: 384px;
  }

  .card_main_img {
    display: none;
  }

  .card_main .form_wrapper {
    margin-left: 0;
    margin-top: 0;
  }

  .display_none_mid {
    display: none;
  }

  .display_mid {
    display: block;
  }

  .social {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 30px;
  }

  .orange_line {
    margin-bottom: 48px;
  }

  .form_wrapper {
    margin-left: 0;
    margin-top: 0;
  }

  .map {
    padding-top: 0;
    padding-left: 0;
    background: none;
    height: 536px;
  }
  .map_mid_display {
    width: 100%;
    height: 770px;
    background: url("../img/map_mid.png") center center/cover no-repeat;
  }

  .stpts {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 0;
    padding-left: 0;
  }
  .stpts_subheader {
    font-size: 24px;
  }

  .vacancies .header {
    margin-bottom: 48px;
  }
  .vacancies_menu_item .sub_item {
    top: 37px;
    right: 24px;
  }
  .vacancies_menu_item .text {
    font-size: 22px;
    margin-left: 24px;
    max-width: 64%;
  }

  .choose .container .card_img {
    display: block;
    margin: 0;
    -webkit-transform: scale(50%);
            transform: scale(50%);
  }

  footer {
    background: none;
    background-color: #1B274A;
  }

  .card {
    margin-bottom: 0;
  }

  #first_card .card_text {
    margin-top: 32px;
  }

  #second_card .card_text {
    margin-top: 32px;
  }

  #third_card .card_text {
    margin-top: 100px;
  }

  .choose {
    padding-bottom: 72px;
  }

  .header {
    margin-bottom: 48px;
  }

  .menu_active button {
    margin-left: 0;
  }
  .menu_active .list_header {
    margin-left: 0;
  }
  .menu_active .menu_list {
    margin-left: 0;
  }
  .menu_active .descr {
    margin-left: 0;
  }
  .menu_active .job_in_docvet_list {
    margin-left: 0;
  }
}
@media (max-width: 320px) {
  .container {
    width: 80%;
  }
  .container_nav_metro {
    width: 80%;
  }

  .map_mid_display {
    display: none;
  }

  .map_small_display {
    display: block;
    width: 100%;
    height: 320px;
    background: url("../img/map_small.png") center center/cover no-repeat;
  }

  .job_in_docvet_container {
    padding-bottom: 32px;
  }
  .job_in_docvet .p {
    font-size: 14px;
  }
  .job_in_docvet .header {
    font-size: 24px;
    margin-bottom: 24px;
  }
  .job_in_docvet_subheader {
    font-size: 18px;
    margin-bottom: 24px;
  }
  .job_in_docvet_list li {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 14px;
  }

  .vacancies_menu_item .text {
    font-size: 13px;
    line-height: 20px;
  }
  .vacancies .header {
    font-size: 24px;
  }

  .blue_line {
    margin-bottom: 14px;
  }

  .menu_active .text {
    margin-bottom: 0;
    line-height: 20px;
  }
  .menu_active .descr {
    font-size: 14px;
  }
  .menu_active .list_header {
    font-size: 22px;
    margin-bottom: 18px;
  }
  .menu_active .menu_list li {
    font-size: 14px;
  }
  .menu_active .button {
    width: 100%;
  }

  .sub_item {
    display: none;
  }
  .sub_item_small {
    display: block;
  }
}
.bold {
  font-weight: bold;
}

.none {
  display: none;
}

/*# sourceMappingURL=style.css.map */