@charset "UTF-8";
.yellow {
  color: #FFA14D !important;
}

.white {
  color: white !important;
}

.cream {
  color: #FFE8D4 !important;
}

.blue {
  color: #1B274A !important;
}

.orange {
  color: #FF7800 !important;
}

.grey {
  color: #C2C2C2 !important;
}

.black {
  color: black !important;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto-Light", sans-serif;
  text-decoration: none;
}

nav {
  background-color: #1B274A;
  height: 50px;
  margin: 0 auto;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

header {
  width: 100%;
}

.container_nav_metro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
}
.container_nav_metro img {
  -webkit-transform: translateY(15%);
          transform: translateY(15%);
  margin-right: 8px;
}
.container_nav_metro .nav_metro, .container_nav_metro .nav_number, .container_nav_metro .around_clock {
  line-height: 50px;
  font-size: 16px;
}

.nav_number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.line_y {
  height: 20px;
  width: 1px;
  background-color: #fff;
  margin-left: 8px;
  margin-right: 8px;
  -webkit-transform: translateY(69%);
          transform: translateY(69%);
}

.signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FF7800;
  font-size: 18px;
  width: 208px;
  line-height: 50px;
  color: white;
  border: none;
}

.clock {
  margin: 0 auto;
}
.clock img {
  -webkit-transform: translateY(23%);
          transform: translateY(23%);
  margin-right: 5px;
}

.subheader {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.subheader_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  right: 5vw;
  width: 305px;
  font-size: 18px;
  margin-top: 30px;
}
.subheader_menu a {
  text-decoration: none;
}

.subheader_docvet {
  margin-top: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  line-height: 11px;
}
.subheader_docvet .vetcenter {
  font-size: 10px;
}
.subheader_docvet .logo_img {
  margin-right: 12px;
  -webkit-transform: translateY(-13%);
          transform: translateY(-13%);
}
.subheader_docvet_text span {
  font-size: 28px;
  line-height: 33px;
  font-weight: bold;
}

.header {
  font-size: 48px;
  color: #1B274A;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.job_in_docvet {
  color: #1B274A;
}
.job_in_docvet_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 160px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.job_in_docvet_img {
  margin-top: 103px;
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}
.job_in_docvet .header {
  margin-bottom: 48px;
}
.job_in_docvet_subheader {
  font-size: 22px;
  font-weight: 500;
  max-width: 550px;
  margin-bottom: 32px;
  font-weight: 600;
}
.job_in_docvet .p {
  font-size: 22px;
  max-width: 568px;
}
.job_in_docvet_list {
  margin-left: 40px;
}
.job_in_docvet_list li {
  font-size: 22px;
  margin-bottom: 32px;
  max-width: 500px;
  list-style-type: none;
}
.job_in_docvet_list li::before {
  content: "•";
  color: #FF7800;
}
.job_in_docvet_list li span {
  font-weight: 600;
}

.orange_line {
  width: 1170px;
  height: 1px;
  background-color: #FF7800;
  margin-bottom: 96px;
  margin-left: 0 auto;
}

.blue_line {
  width: 1170px;
  height: 1px;
  background-color: #3897F0;
  margin-left: 0 auto;
  margin-top: 22px;
  margin-bottom: 56px;
}

.vacancies .header {
  margin-bottom: 72px;
}

.vacancies_menu_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.vacancies_menu_item::after {
  content: "";
}
.vacancies_menu_item .text {
  margin-left: 62px;
  font-size: 32px;
  color: #3897F0;
  line-height: 50px;
}
.vacancies_menu_item .sub_item {
  color: #3897F0;
  font-size: 14px;
  line-height: 50px;
  position: absolute;
  right: 80px;
}

.menu_active {
  display: block;
  padding-bottom: 70px;
}
.menu_active .text {
  margin-bottom: 32px;
}
.menu_active .job_in_docvet_list {
  margin-left: 90px;
}
.menu_active .job_in_docvet_list li {
  min-width: 972px;
}
.menu_active .descr {
  margin-left: 70px;
  font-size: 22px;
  margin-bottom: 48px;
  max-width: 1000px;
}
.menu_active .list_header {
  margin-left: 70px;
  font-size: 32px;
  margin-bottom: 32px;
}
.menu_active .menu_list {
  margin-left: 90px;
  margin-bottom: 48px;
  padding-left: 30px;
}
.menu_active .menu_list li {
  font-size: 22px;
}

.button {
  width: 185px;
  height: 64px;
  background-color: #FF7800;
  font-size: 18px;
  color: white;
  border: none;
  margin-left: 70px;
  border-radius: 3%;
}

.choose {
  padding-bottom: 144px;
}
.choose_header {
  margin-bottom: 48px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 120px;
}
.card_img {
  display: block;
}
.card_text {
  font-size: 22px;
  max-width: 500px;
}
.card_header {
  font-size: 32px;
  margin-bottom: 32px;
}

#first_card .card_text {
  margin-top: 200px;
}

#second_card .card_text {
  margin-top: 200px;
}

#third_card .card_text {
  margin-top: 100px;
}

.card_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card_main_img {
  text-align: center;
}
.card_main_img .card_main_header {
  font-size: 22px;
  margin-top: 24px;
}
.card_main_img .card_main_subheader {
  font-size: 16px;
  margin-top: 18px;
}
.card_main .form_wrapper {
  margin-left: 215px;
  margin-top: 104px;
}
.card_main .form_wrapper input {
  display: block;
  width: 470px;
  margin-top: 58px;
  border: none;
  outline: none;
}
.card_main .form_wrapper_header {
  font-size: 22px;
  font-weight: bold;
}
.card_main .form_wrapper_subheader {
  font-size: 16px;
  margin-top: 32px;
}

.grey_line {
  display: block;
  width: 470px;
  background-color: #6D758B;
  height: 1px;
  margin-top: 15px;
}

.comment {
  margin-top: 24px;
}
.comment span {
  font-weight: bold;
}

.map {
  width: 100%;
  height: 702px;
  background: url("../img/map.png");
  padding-left: 275px;
  padding-top: 48px;
}

.stpts {
  background-color: #fff;
  height: 606px;
  width: 780px;
  padding-top: 64px;
  padding-left: 100px;
}
.stpts .metro_icon {
  margin-right: 18px;
}
.stpts a {
  display: block;
  margin-top: 68px;
  font-size: 22px;
}
.stpts .bus {
  margin-top: 52px;
  margin-bottom: 52px;
}
.stpts_subheader {
  font-size: 32px;
  margin-bottom: 32px;
}
.stpts_text {
  font-size: 22px;
}
.stpts_text_small {
  font-size: 16px;
  color: #6D758B;
  margin-top: 18px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  height: 96px;
  background-color: white;
  font-size: 22px;
  line-height: 96px;
}
.social_icon {
  margin-right: 24px;
  -webkit-transform: translateY(33%);
          transform: translateY(33%);
}

footer {
  width: 100%;
  height: 415px;
  background: url("../img/footer.png");
}

/*# sourceMappingURL=style.css.map */